bin/
obj/
artifacts/
logs/
Documents/
.vs/
.vscode/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

TestResults/
BenchmarkDotNet.Artifacts/

publish/

*.nupkg
*.snupkg

packages/

appsettings.Local.json
appsettings.*.local.json
